<%= form_for(@post) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Write your review here..." %>
    <%= f.text_area :rating,  placeholder: "5" %>
    <input type="hidden" name="post[file_url]" value="English">
    <input type="hidden" name="post[thumbnail_url]" value="English">
  </div>

  <%= f.submit "Post", class: "btn btn-large btn-primary" %>
<% end %>


